<%= form_with(model: user, url: path) do |form| %>
  <div>
    <%= form.file_field :avatar %>
  </div>
  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>
  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.label :sex, "Nam", :value => "true"  %>
    <%= form.radio_button :sex, true %>
    <%= form.label :sex, "Nữ", :value => "false" %>
    <%= form.radio_button :sex, false, :checked => true %>
  </div>
  <div>
    <%= form.label :is_admin %>
    <%= form.check_box :is_admin %>
  </div>
  <div>
    <%= form.submit "Lưu" %>
  </div>
<% end %>
