<%= form_with(model: product, url: path) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>
  <div>
    <%= form.collection_select :category_id, @categories, :id, :name, include_blank: @category&.first&.name %>
  </div>
  <div>
    <%= form.submit "Lưu" %>
  </div>
<% end %>
